<!DOCTYPE html>
<html lang="en">
  <%- include('../partials/head.ejs') %>
  <body>
    <%- include('../partials/nav.ejs') %>
    <!-- to be hidden: -->
    <div id="teacherControls" class="teacherControlsClass">
      <textarea id="initialArea" cols="50" rows="15"></textarea>
      <p>Type or paste initial text to be edited.</p>
      <button id="teacherBtn">Start editing</button>
    </div>
    <!-- instructions title message: -->
    <h1 id="instructions" class="instructionsClass"></h1>
    <!-- paragraph: -->
    <p id="myParaId" class="myParaClass pointerClass"></p>
    <!-- editing fields: -->
    <div class="hide inputsClass" id="inputsId">
      <p>Type alternative options. The program will randomly select a position for the correct answer.</p>
      <div class="innerDiv">
        <input id="correctInput" type="text" />
        <span>correct option</span>
      </div>
      <div class="innerDiv">
        <input class="altOptions" type="text" />
      </div>
      <div class="innerDiv">
        <input class="altOptions" type="text" />
      </div>
      <div class="innerDiv">
        <input class="altOptions" type="text" />
      </div>
      <button id="optionsBtn" class="optionsBtnClass">Enter options</button>
    </div>
    <!-- editing phase instructions: -->
    <div class="hide toExerciseClass" id="goToExerciseId">
      <p>When you're done editing the words, click Finish and then add details about the task.</p>
      <button id="finishBtn" class="finishBtnClass">Finish</button>
    </div>
    <form action="/exercises/create" method="POST" id="dbForm" class="hide">
      <label for="subject">Subject:</label>
      <input name="subject" type="text" id="subject" required />
      <label for="text-content">Enter your text here:</label>
      <textarea name="body" id="text-content" cols="30" rows="10" required></textarea>
      <label for="student">Student: (optional)</label>
      <input name="student" type="text" id="student" />
      <button type="submit" class="create-btn">Save</button>
    </form>
    <script src="/script.js"></script>
  </body>
</html>
