<!DOCTYPE html>
<html lang="en">
  <%- include('../partials/head.ejs') %>
  <body>
    <%- include('../partials/nav.ejs') %>
    <div class="content">
      <h1>Choose the subject you want to work on:</h1>
      <div class="links">
        <% if (result) { %>
          <% result.forEach( task => { %>
            <a href="/admin/<%= task._id %>"><%= task.subject %></a>
          <% }) %>
        <% } %>
      </div>
    </div>
    <div class="mobile-low-nav">
      <nav class="nav-style">
        <a href="/admin/create">Create exercise</a>
      </nav>
    </div>
  </body>
</html>
