<!DOCTYPE html>
<html lang="en">
  <%- include('./partials/head.ejs') %>
  <body>
    <h2>Ooops!</h2>
    <h3>The requested URL was not found on this server.</h3>
    <h4>back to
      <a href="/exercises">Exercises</a>
      page.
    </h4>
  </body>
</html>
