<!DOCTYPE html>
<html lang="en">
  <%- include('./partials/head.ejs') %>
  <body>
    <%- include('./partials/nav.ejs') %>
    <% if (result) { %>
      <div><%= result.subject %></div>
      <div><%- result.body %></div>
    <% } %>
  </body>
</html>
