<!DOCTYPE html>
<html lang="en">
  <%- include('./partials/head.ejs') %>
  <body>
    <%- include('./partials/nonUserNav.ejs') %>
    <div class="content">
      <% if (result) { %>
        <div>Subject: <%= result.subject %></div>
        <div class="task-box"><%- result.body %></div>
      <% } %>
    </div>
    <script>
      const selectTags = document.getElementsByTagName("select");
      for (const tag of selectTags) {
        tag.addEventListener("change", () => {
          let tempAnswer = tag.getAttribute("data-a-index");
          let selectedOption = tag.options.selectedIndex;
          if (tempAnswer == selectedOption) {
            tag.classList.add("correct");
          }
        });
      }
    </script>
  </body>
</html>
