<!DOCTYPE html>
<html lang="en">
  <%- include('./partials/head.ejs') %>
  <body>
    <%- include('./partials/nav.ejs') %>
    <div>
      <h1>Signup page</h1>
      <form action="signup" method="POST">
        <label for="userName">User Name:</label>
        <input name="userName" type="text" id="userName" />
        <label for="adminKey">Admin joining key:</label>
        <input name="adminKey" type="text" id="adminKey" />
        <label for="password">Password:</label>
        <input name="password" type="password" id="password" required />
        <button type="submit">Sign up</button>
      </form>
    </div>
  </body>
</html>