.nav-style {
  display: flex;
  justify-content: space-evenly;
  padding: 10px;
  border-bottom: 1px solid grey;
}
.nav-style a {
  font-size: 26px;
  text-decoration: none;
  color: #a20202;
}
.nav-style a:hover {
  text-decoration: underline;
}
.content {
  padding: 20px;
}
.links {
  display: flex;
  flex-direction: column;
}
.links a {
  margin-bottom: 16px;
  font-size: 22px;
}
body form {
  display: flex;
  flex-direction: column;
  margin: 40px;
}
input,
textarea {
  margin-bottom: 40px;
}
button {
  width: 60px;
}
